name: iamport_flutter
description: Plugin that allows Flutter to use Iamport payment and certification functions.
version: 0.10.19
homepage: https://github.com/iamport/iamport_flutter

environment:
  sdk: ">=2.17.0 <4.0.0"
  flutter: ">=2.5.0"

dependencies:
  app_links: ^6.1.1
  flutter:
    sdk: flutter
  iamport_webview_flutter: 3.0.7
  json_annotation: ^4.8.1
  url_launcher: ^6.0.4

dev_dependencies:
  build_runner: ^2.0.0
  json_serializable: ^6.7.1
  test: ^1.19.0

# For information on the generic Dart part of this file, see the
# following page: https://www.dartlang.org/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:
  # This section identifies this Flutter project as a plugin project.
  # The androidPackage and pluginClass identifiers should not ordinarily
  # be modified. They are used by the tooling to maintain consistency when
  # adding or updating assets for this project.
  plugin:
    platforms:
      android:
        package: kr.iamport.iamport_flutter
        pluginClass: IamportFlutterPlugin
      ios:
        pluginClass: IamportFlutterPlugin

  uses-material-design: true

  # To add assets to your plugin package, add an assets section, like this:
  assets:
    - assets/images/iamport-logo.png

  #
  # For details regarding assets in packages, see
  # https://flutter.dev/assets-and-images/#from-packages
  #
  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware.

  # To add custom fonts to your plugin package, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts in packages, see
  # https://flutter.dev/custom-fonts/#from-packages
